@import '../style/style.scss';

.contact{
    background-color: $bg-menu-mobile;
    .title{
        color: $text-black;
        font-size: 22px;
        font-weight: 500;
        margin-top: 30px;
        margin-bottom: 20px;
        text-transform: capitalize;
        letter-spacing: 3px;
    }
    .list-info{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .info-item{
            color: $text-black;
            display: flex;
            flex-direction: row;
            align-items: center;
            letter-spacing: 1px;
            gap: 15px;
            .info-icon{
                display: inline-block;
                font-size: 15px;
                min-width: 15px;
            }
            .info-text{
                font-size: 14px;
            }
        }
    }
    .form{  
        display: flex;
        flex-direction: column;
        gap: 30px;
        .text-field {
            position: relative;
            label {
                display: block;
                font-weight: 500;
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 10px;
                background-color: $primary-color;
                padding: 1px 5px;
                font-size: 12px;
                transform: translateY(-50%);
                color: $text-white;
            }
            .text {
                outline: none;
                padding: 15px;
                display: block;
                width: 100%;
                font-size: 14px;
                border: 1px solid $text-black;
                border-radius: 4px;
                background-color: $bg-menu-mobile;
                color: $text-black;
                &:focus{
                    border: 1px solid $primary-color;
                }
            }
        }
    }
    .button-send{
        display: block;
        width: 100px;
        outline: none;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        background-color: $text-black;
        color: $text-white;
        padding: 8px 15px;
        margin: 0px auto;
        margin-top: 30px;
        text-align: center;
        letter-spacing: 2px;
        &:hover{
            background-color: $primary-color;
            transition: 0.5s;
        }
    }
}