@import '../style/style.scss';

.footer{
    background-color: $bg-footer;
    padding: 20px 0;
    .footer-text{
        display: flex;
        align-items: center;
        justify-content: center;
        .icon{
            font-size: 15px;
            margin-right: 5px;
        }
        letter-spacing: 1px;
        text-align: center;
        color: $text-white;
        text-transform: capitalize;
        font-size: 22px;
    }
}