$primary-color: #37b548;
$bg-green: #b4e9bb;
$bg-white: white;

$text-black: #102a42;
$text-white: white;
$text-light-dark: #617d98;

$yellow-color: #e9b949;
$bg-menu-mobile: #f1f5f8;
$bg-footer: #1d251c;